body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(28, 84, 148),
    rgb(56, 115, 150)
  );
  color: white;
}

/* GAME TITLE */
.gameTitle-container {
  height: fit-content;
  align-content: center;
}

.hangmanTitle {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 40px 0px 40px 0px;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

/*  DISPLAY WORD */
#currentWord {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  height: 40px;
}

/*RESULTS DISPLAY*/
.row {
  align-content: center;
}
.result-container {
  height: fit-content;
  padding-top: 5px;
  margin: 10px 0px 10px 0px;
  opacity: 0.3;
  background: #ffffff;
  border-radius: 10px;
  align-content: center;
  height: 200px;
}

.resultTitle {
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px;
  color: black;
  text-align: center;
}

.resultsDisplay {
  font-size: 16px;
  margin: 10px;
  color: black;
}
